## Car Wash Simulationm - 3 Servers 1 Queue

A car wash simuation where we only have the arrival times of each car and we seen the time they spent in the queue, the time it took for the car washing processing, the time they got free from the car wash and the total time they spent at the car wash. The car wash process is normally distributed with a mean of 15 and std dev of 2. There are 20 cars whose car wash we are processing between 9 AM to 6 PM.

Here from the pervious simulation we have added the complexity of 3 different servers to perform the car wash process however there is only queue line. And whenever someone gets free the next person waiting gets his/her turn

In [ ]:
# import sys
# !{sys.executable} -m pip install

Create random datetimes between two date ranges

In [1]:
from random import randrange
import datetime
# from datetime import timedelta

In [2]:
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + datetime.timedelta(seconds=random_second)

In [3]:
d1 = datetime.datetime.strptime('1/1/2009 4:00 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.datetime.strptime('1/1/2009 6:00 PM', '%m/%d/%Y %I:%M %p')


N = 20
arrival_times = []
for i in range(N):
    arrival_times.append(random_date(d1, d2))
    
arrival_times[:5]

[datetime.datetime(2009, 1, 1, 16, 54, 22),
 datetime.datetime(2009, 1, 1, 17, 39, 25),
 datetime.datetime(2009, 1, 1, 16, 17, 36),
 datetime.datetime(2009, 1, 1, 17, 11, 46),
 datetime.datetime(2009, 1, 1, 17, 17, 47)]

Create a dataframe

In [4]:
import pandas as pd
import numpy as np
# pd.to_datetime(arrival_times[0])


df = pd.DataFrame()
df['Cars'] = list(np.arange(N) + 1)
df['Arrival Time'] = arrival_times
df['Arrival Time'] = df['Arrival Time'].sort_values(ascending=True).tolist()

df

    Cars        Arrival Time
0      1 2009-01-01 16:09:44
1      2 2009-01-01 16:17:36
2      3 2009-01-01 16:25:24
3      4 2009-01-01 16:28:50
4      5 2009-01-01 16:34:30
5      6 2009-01-01 16:54:22
6      7 2009-01-01 17:01:43
7      8 2009-01-01 17:03:45
8      9 2009-01-01 17:07:37
9     10 2009-01-01 17:11:46
10    11 2009-01-01 17:17:47
11    12 2009-01-01 17:28:14
12    13 2009-01-01 17:29:46
13    14 2009-01-01 17:33:50
14    15 2009-01-01 17:36:10
15    16 2009-01-01 17:39:25
16    17 2009-01-01 17:48:28
17    18 2009-01-01 17:52:02
18    19 2009-01-01 17:54:13
19    20 2009-01-01 17:58:55

In [5]:
df.dtypes

Cars                     int64
Arrival Time    datetime64[ns]
dtype: object

Creating a washing process whose time is normally distributed with a mean of mu and stddev of sigma

In [6]:
import math

def washing_process(mu, sigma):
    random_number = np.random.normal(mu, sigma)
    hours = math.floor(random_number/60)
    minutes = math.floor(random_number) if random_number < 60 else (math.floor(random_number) - (hours*60))
    seconds = round(((random_number - math.floor(random_number))*0.6)*100)
    x = timedelta2time(datetime.timedelta(hours = hours, minutes = minutes, seconds = seconds))
    return x 

mu = 15
sigma = 2

Functions to change timedelta and datetime.time

In [7]:
def time2timedelta(timeObj):
    return datetime.datetime.combine(datetime.date.min, timeObj) - datetime.datetime.min

def timedelta2time(deltaObj):
    return (datetime.datetime.min + deltaObj).time()

The Simulation

In [10]:
start_times, queue_times, process_times, finish_times, waited_times = [], [], [], [], []

start_times.append(df['Arrival Time'][0].to_pydatetime()) # Arrival time will be the same as start time for the first car
queue_times.append(timedelta2time(datetime.timedelta(seconds=0))) # Adding 0 queuing time for the first car

washTime = washing_process(mu, sigma) # Randomly generate a washing time from anjormal distribution with mean 15 and stddev 2
process_times.append(washTime)

finishTime = start_times[0] + time2timedelta(process_times[0]) # When the car was process finishes
finish_times.append(finishTime)

waited_times.append(timedelta2time(finishTime - start_times[0]))

server_times = [finish_times[-1], df['Arrival Time'][0].to_pydatetime(), df['Arrival Time'][0].to_pydatetime()]
server_assigned = []
server_assigned.append(1)

In [11]:

for index, row in df.iterrows():
    if index == 0:
        continue
    arrivalTime = df['Arrival Time'][index].to_pydatetime()
    server, tobe_server = -1, -1
    
    for i in range(3):
        if server_times[i]!=0 and (arrivalTime < server_times[i]): # If no server is empty and arrives before all of the finish time
            tobe_server = np.argmin(server_times)
        else: # There is a free server
            server = i
            break
    
    if server!= -1: #There is a free server
        queue_times.append(timedelta2time(datetime.timedelta(seconds=0)))
        start_times.append(df['Arrival Time'][index].to_pydatetime())
        
        washTime = washing_process(mu, sigma)
        process_times.append(washTime)
        
        finishTime = start_times[-1] + time2timedelta(process_times[-1])
        finish_times.append(finishTime)
        
        waited_times.append(timedelta2time(finishTime - arrivalTime))
        
        server_assigned.append(server+1)
        server_times[server] = finish_times[-1]
    else:
        queue_times.append(timedelta2time(server_times[tobe_server] - arrivalTime))
        start_times.append(server_times[tobe_server])
        
        washTime = washing_process(mu, sigma)
        process_times.append(washTime)
        
        finishTime = start_times[-1] + time2timedelta(process_times[-1])
        finish_times.append(finishTime)
        
        waited_times.append(timedelta2time(finishTime - arrivalTime))
        
        server_assigned.append(tobe_server+1)
        server_times[tobe_server] = finish_times[-1]
    
df['Server Assigned'] = server_assigned
df['Queue Time'] = queue_times
df['Start Time'] = start_times
df['Process Time'] = process_times
df['Finish Time'] = finish_times
df['Waiting Time'] = waited_times
df

,Cars,Arrival Time,Server Assigned,Queue Time,Start Time,Process Time,Finish Time,Waiting Time
0,1,2009-01-01 16:09:44,1,00:00:00,2009-01-01 16:09:44,00:15:51,2009-01-01 16:25:35,00:15:51
1,2,2009-01-01 16:17:36,2,00:00:00,2009-01-01 16:17:36,00:15:58,2009-01-01 16:33:34,00:15:58
2,3,2009-01-01 16:25:24,3,00:00:00,2009-01-01 16:25:24,00:11:42,2009-01-01 16:37:06,00:11:42
3,4,2009-01-01 16:28:50,1,00:00:00,2009-01-01 16:28:50,00:19:08,2009-01-01 16:47:58,00:19:08
4,5,2009-01-01 16:34:30,2,00:00:00,2009-01-01 16:34:30,00:15:14,2009-01-01 16:49:44,00:15:14
5,6,2009-01-01 16:54:22,1,00:00:00,2009-01-01 16:54:22,00:15:36,2009-01-01 17:09:58,00:15:36
6,7,2009-01-01 17:01:43,2,00:00:00,2009-01-01 17:01:43,00:12:32,2009-01-01 17:14:15,00:12:32
7,8,2009-01-01 17:03:45,3,00:00:00,2009-01-01 17:03:45,00:14:53,2009-01-01 17:18:38,00:14:53
8,9,2009-01-01 17:07:37,1,00:02:21,2009-01-01 17:09:58,00:16:57,2009-01-01 17:26:55,00:19:18
9,10,2009-01-01 17:11:46,2,00:02:29,2009-01-01 17:14:15,00:13:27,2009-01-01 17:27:42,00:15:56
10,11,2009-01-01 17:17:47,3,00:00:51,2009-01-01 17:18:38,00:16:19,2009-01-01 17:34:57,00:17:10
11,12,2009-01-01 17:28:14,1,00:00:00,2009-01-01 17:28:14,00:13:36,2009-01-01 17:41:50,00:13:36
12,13,2009-01-01 17:29:46,2,00:00:00,2009-01-01 17:29:46,00:12:16,2009-01-01 17:42:02,00:12:16
13,14,2009-01-01 17:33:50,3,00:01:07,2009-01-01 17:34:57,00:16:16,2009-01-01 17:51:13,00:17:23
14,15,2009-01-01 17:36:10,1,00:05:40,2009-01-01 17:41:50,00:13:10,2009-01-01 17:55:00,00:18:50
15,16,2009-01-01 17:39:25,2,00:02:37,2009-01-01 17:42:02,00:18:07,2009-01-01 18:00:09,00:20:44
16,17,2009-01-01 17:48:28,3,00:02:45,2009-01-01 17:51:13,00:13:19,2009-01-01 18:04:32,00:16:04
17,18,2009-01-01 17:52:02,1,00:02:58,2009-01-01 17:55:00,00:15:10,2009-01-01 18:10:10,00:18:08
18,19,2009-01-01 17:54:13,2,00:05:56,2009-01-01 18:00:09,00:18:06,2009-01-01 18:18:15,00:24:02
19,20,2009-01-01 17:58:55,3,00:05:37,2009-01-01 18:04:32,00:13:09,2009-01-01 18:17:41,00:18:46